.container {
    max-width: 1440px;
    margin: 0 auto;
}

.visually-hidden {
    display: none;
}

body {
    background-color: #F5F5F5;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Flex', sans-serif;
}


.logo {
    list-style-type: none;
}

.list {
    padding: 0;
}
.main
{
   
    position: relative;
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.block__description {
    width: 605px;
    font-style: normal;
    font-weight: 750;
    font-size: 48px;
    line-height: 48px;
    color: #090909;
    margin-bottom: 56px;
    letter-spacing: -0.5px;
    transform: scale(1.45, 0.9);
    position: relative;
    left: 139px;
}

.radio__button {
    list-style-type: none;
    margin-bottom: 22px;
}

.control-gos {
    display: flex;
}

.input__button {
    border: 2px solid black;
}

.main__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number__list {
    margin-left: 117px;
}

.how__work {
    font-style: normal;
    font-weight: 550;
    font-size: 15px;
    line-height: 20px;
    color: #090909;
    letter-spacing: 0.25px;
    
}

.block__work {
    margin: 0 auto;
    position: absolute;
    left: 430px;
    bottom: -110px;
    transform: scale(1.1, 0.9);
    display: flex;
    align-items: center;
    width: 183px;
    justify-content: space-evenly;
}

.control-custom {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    display: block;
    background: #6A6A6A;
    margin-right: 17px;
    position: relative;
}
.header
{
    padding: 0;
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.control-label {
    width: 28px;
    height: 18px;
    font-style: normal;
    font-weight: 750;
    font-size: 23px;
    line-height: 18px;
    text-align: center;
    color: #5337FF;
    transform: scale(1.3, 1);
    letter-spacing: -0.9px;
}

.select__input {
    width: 16px;
    height: 16px;
    background-color: white;
    border: 1px solid #5337FF;
}

.select__input::before {
    display: block;
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #5337FF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block__description__button {
    display: flex;
    position: relative;
}

.block__start {
    background-color: #FF6700;
    width: 144px;
    border-radius: 8px;
    transform: rotate(-15deg);
    position: absolute;
    left: 123px;
    top: -14px;

    color: #FFFFFF;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.block__applications
{
    display: flex;
    background-color: #6A6A6A;
    padding-bottom: 10.8px;
    padding-top: 9.8px;
    align-items: center;
    border-radius: 36px;  
    justify-content: center;
   
}
.text__store {
    text-align: -webkit-center;
    width: 90px;
  
}
.link {
    width: 179px;
    text-decoration: none;
    margin-right: 24px;
}
.img__apple
{
    margin-right: 12px;
}
.text__dowload {
    transform: scale(1.3, 0.9);
    color: #FFFFFF;
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    letter-spacing: 0.7px;
    line-height: 16px
}
.img__play {
    margin-right: 16px;
}
.link__play
{
    width: 200px;
}
.block__applications:hover
{
    background: #5337FF;
}
.navigation
{
    margin-top: 30px;
}
.start {
    transform: scale(1.3, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto Flex', sans-serif;
    line-height: 20px;
}